body {
  text-align: center;
  background: linear-gradient(to right, #4ce0e0, #6425b2 120%);
}

#head {
  font-size: 100px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
}

#search {
  margin-bottom: 20px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: block;
  font-family: Arial;
  font-size: 10px;
  color:white;
}
